.container-form { 
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 12px 12px 10px rgba(0,0,0,0.2);
    padding: 24px;
    background-color: rgb(248, 244, 244);
    margin-top: 30px;
    margin-bottom: 15px;
    width: 900px;
    text-align: center;
    
}



